@use "../../../assets/styles/global/variables" as v;
@use "../../../assets/styles/global/mixins" as m;

.advantages {
  padding: 80px 0;
  background-color: v.$white;
  overflow: hidden; 

  @include m.vp-1023 {
    padding: 60px 0;
  }

  @include m.vp-767 {
    padding: 40px 0;
  }

  &__wrapper {
    display: grid;
    gap: 70px;
    max-width: 95%;
    margin: 0 auto;

    @include m.vp-1023 {
      max-width: 100%;
      display: flex;
      flex-direction: column;
      gap: 30px;
      margin: 0;
    }

    @include m.vp-767 {
      gap: 25px;
    }

    &-header {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 26px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: v.$blue-lagoon;
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);

    &::before {
      content: "\2014";
      display: inline-block;
      margin-right: 30px;
      color: var(--color-primary, v.$blue-lagoon);
      transform: scaleX(1.8);
      transform-origin: left center;

      @include m.vp-767 {
        transform: scaleX(1.3);
        margin-right: 15px;
      }
    }

    @include m.vp-767 {
      font-size: 20px;
      line-height: 22px;
      margin-right: 20px;
    }
  }

  &__subtitle {
    font-weight: 600;
    font-size: 38px;
    line-height: 58px;
    color: v.$pacific-blue;

    @include m.vp-1023 {
      text-align: center;
      font-size: 36px;
      line-height: 1.2;
    }

    @include m.vp-767 {
      font-size: 24px;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 60%;
    margin: 0 auto;
    gap: 20px 40px;

    @include m.vp-1023 {
      width: 100%;
      gap: 20px;
      margin: 0;
    }

    @include m.vp-767 {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }

  &__card {
    padding: 20px;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    opacity: 1;
    transform: translate(0, 0);
    transition:
      transform 1.8s cubic-bezier(0.16, 1, 0.3, 1),
      opacity 1.8s ease;

    &:hover {
      .advantages__card-icon {
        transform: translateY(-5px);
        color: rgba(v.$bahama-blue, 0.8);
      }
    }

    @media (min-width: 768px) {
      &:nth-child(1) {
        @starting-style {
          opacity: 0;
          transform: translateX(-100px);
        }
      }

      &:nth-child(2) {
        @starting-style {
          opacity: 0;
          transform: translateX(100px);
        }
      }

      &:nth-child(3) {
        transition-delay: 0.4s;
        @starting-style {
          opacity: 0;
          transform: translateY(80px);
        }
      }

      &:nth-child(4) {
        transition-delay: 0.4s;
        @starting-style {
          opacity: 0;
          transform: translateY(80px);
        }
      }
    }

    @include m.vp-767 {
      &:nth-child(1) {
        border: 1px solid v.$whisper;
        border-radius: 25px;
        box-shadow: 0 4px 45px rgba(v.$black, 0.4);
        transition-delay: 0s;
      }
      &:nth-child(2) {
        transition-delay: 0.2s;
      }
      &:nth-child(3) {
        transition-delay: 0.4s;
      }
      &:nth-child(4) {
        border: 1px solid v.$whisper;
        border-radius: 25px;
        box-shadow: 0 4px 45px rgba(v.$black, 0.4);
        transition-delay: 0.6s;
      }

      @starting-style {
        opacity: 0;
        transform: translateY(40px); // На телефонах все плавно идут снизу вверх
      }
    }

    &--bordered {
      border: 1px solid v.$whisper;
      border-radius: 25px;
      box-shadow: 0 4px 45px rgba(v.$black, 0.4);
    }

    &-icon {
      color: v.$bahama-blue;
      width: 50px;
      height: 50px;
      transition: transform v.$transition-500;
    }

    &-number {
      text-align: center;
      font-size: 26px;
      line-height: 30px;
      color: v.$pacific-blue;

      @include m.vp-1023 {
        font-size: 22px;
        line-height: 24px;
      }
    }

    &-text {
      text-align: center;
      font-size: 18px;
      line-height: 22px;
      color: v.$dim-gray1;

      @include m.vp-1023 {
        font-size: 16px;
        line-height: 18px;
      }
    }
  }
}
