@use "../../assets/styles/global/variables" as v;
@use "../../assets/styles/global/mixins" as m;


.questions {
    padding: 80px 0;

    .questions__item-body {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.3s ease-out;
  overflow: hidden;
}

.questions__item--open {
  .questions__item-body {
    grid-template-rows: 1fr;
  }
  .questions__item-icon {
    transform: rotate(180deg); // Поворот стрелочки при открытии
  }
}

.questions__item-content {
  min-height: 0; // Обязательно для корректной анимации grid-rows
}

.questions__item-text {
  margin-bottom: 8px;
  &:last-child {
    margin-bottom: 0;
  }
}
}