@use "../../assets/styles/global/variables" as v;
@use "../../assets/styles/global/mixins" as m;

.appointment {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(v.$black, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;

  &__modal {
    position: relative;
    background-color: v.$white;
    padding: 40px 35px;
    border-radius: 16px;
    max-width: 550px;
    width: 90%;
    box-shadow: 0 15px 40px rgba(v.$black, 0.3);
    display: flex;
    flex-direction: column;
    gap: 20px;

    max-height: none;
    overflow-y: hidden;
    animation: modalFadeIn 0.3s ease-out;

    @include m.vp-1023 {
      padding: 35px 25px;
      gap: 15px;
    }

    @include m.vp-767 {
      padding: 25px 20px;
      gap: 10px;
      width: 92%;
      border-radius: 12px;
    }

    &-close {
      position: absolute;
      top: 15px;
      right: 15px;
      background: transparent;
      border: none;
      cursor: pointer;
      z-index: 10;
      padding: 10px;

      &:hover {
        .appointment__modal-icon {
          color: v.$bahama-blue;
        }
      }

      @include m.vp-767 {
        top: 10px;
        right: 10px;
        padding: 5px;
      }
    }

    &-icon {
      width: 16px;
      height: 16px;
      color: v.$black;
      fill: currentColor;
      transition: color v.$transition-500;

      @include m.vp-767 {
        width: 12px;
        height: 12px;
      }
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;

    @include m.vp-767 {
      gap: 4px;
    }

    &-title {
      font-weight: 500;
      font-size: 24px;
      line-height: 1.2;
      display: flex;
      align-items: center;
      color: v.$blue-lagoon;
      text-shadow: 0 2px 6px rgba(v.$black, 0.3);
      text-align: center;

      @include m.vp-1023 {
        font-size: 22px;
      }

      @include m.vp-767 {
        font-size: 18px;
      }
    }
    &-subtitle {
      font-size: 16px;
      line-height: 1.4;
      color: v.$pacific-blue;
      text-align: center;

      @include m.vp-1023 {
        text-align: center;
        font-size: 23px;
       
      }

         @include m.vp-767 {
        font-size: 13px;
      }
    }
  }
  &__error {
    color: var(--error, v.$persian-red);
    font-size: 10px;
  }
}
@keyframes modalFadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
