@use "../../assets/styles/global/variables" as v;
@use "../../assets/styles/global/mixins" as m;

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(v.$black, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.modal-content {
  position: relative;
  background-color: v.$white;
  padding: 35px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(v.$black, 0.25);
  max-width: 500px;
  width: 90%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: scaleUp 0.2s ease-out;

  @include m.vp-767 {
    max-width: 350px;
    width: 100%;
    padding: 20px;
  }
}

.modal-text {
  font-weight: 600;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  color: v.$bondi-blue;

  @include m.vp-767 {
    font-size: 18px;
  }
}

.modal-btn {
  position: absolute;
  cursor: pointer;
  top: 9px;
  right: 8px;
  padding: 6px 5px;

  &:hover,
  &:focus {
    .modal-btn__icon {
      color: v.$bahama-blue;
      transform: scale(1.2);
    }
  }

  &__icon {
    width: 20px;
    height: 20px;
    color: v.$black;
    transition:
      color v.$transition-500,
      transform v.$transition-500;
  }
}

@keyframes scaleUp {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
