@use "../../assets/styles/global/variables" as v;
@use "../../assets/styles/global/mixins" as m;
.services {
  &__wrapper {
    padding: 100px 0 150px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    max-width: 80%;
    margin: 0 auto;

    &-title {
      font-weight: 500;
      font-size: 25px;
      line-height: 30px;
      color: v.$blue-lagoon;
    }

    &-subtitle {
      font-weight: 600;
      font-size: 48px;
      line-height: 58px;
      color: v.$pacific-blue;
      align-items: center;
    }

    &-text {
      font-family: "Open Sans";
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;

      align-items: center;
      color: v.$dim-gray;
    }
  }
}
