@use "../../assets/styles/global/variables" as v;
@use "../../assets/styles/global/mixins" as m;

.header {
  width: 100%;
  background-color: v.$white;
  // background-color: rgba(255, 255, 255, 0.65);
  border: 1px solid var(--color-border, v.$solitude);
  // position: sticky;
  // top: 0;
  // z-index: 100;
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);

  transform: translateZ(0);
  will-change: backdrop-filter;

  &__wrapper {
    padding: 20px 0 15px;
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: center;

    @include m.vp-1023 {
      gap: 10px;
      padding: 10px;
    }

    // @include m.vp-767 {
    //   gap: 10px;
    //   padding: 5px;
    // }
  }

  &__inner {
    display: flex;
    align-items: center;
    gap: 150px;

    
     @media (max-width: 1100px) {
      gap: 50px;
      
    }

    @include m.vp-1023 {
      gap: 0px;
    }

    @include m.vp-767 {
      gap: 0;
    }
  }

  &__logo {
    display: inline-block;
    text-decoration: none;

    transition:
      transform 0.5s cubic-bezier(0.6, 0, 0.2, 1),
      opacity 0.3s ease;
    opacity: 0.9;

    &:hover {
      opacity: 1;
      transform: scale(1.1) translateY(-2px);
    }

    &:active {
      transform: scale(0.98);
    }
  }

  &__logo-icon {
    width: 71px;
    height: 50px;
    display: block;

    @include m.vp-767 {
      width: 60px;
      height: 39px;
    }
  }
  &__actions {
    @include m.vp-767 {
      display: none;
    }

    &-burger {
      display: none;
      @include m.vp-1023 {
        display: flex;
      }
    }
  }
}
