@use "./variables" as *;
@use "./mixins" as *;

.btn {
  font-weight: 700;
  font-size: 19px;
  line-height: 19px;
  display: flex;
  align-items: center;
  border-radius: 50px;
  color: $white;
  background-color: $pacific-blue;
  padding: 19px 30px;
  cursor: pointer;
  transition: background-color $transition-800;

  @include vp-1023 {
    padding: 15px 25px;
  }

  @include vp-767 {
    font-size: 14px;
    padding: 15px;
  }

  &:hover {
    background-color: $blue-lagoon;
  }
  &:active {
    background-color: $dark-cyan;
  }
}

.btn--appointment,
.btn--about,
.btn--services {
  border-radius: 25px;
  color: $white;
}

.btn--about,
.btn--services {
  transition: transform $transition-800;
}

.btn--about:hover,
.btn--services:hover {
  transform: translateY(-10px);
}
