@use "./variables" as *;
@use "./mixins" as *;

/* ==========================================================================
   1. БАЗОВЫЙ СБРОС СТИЛЕЙ И СЕТКА
   ========================================================================== */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  box-sizing: border-box;
  min-height: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
  }

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
  color: $black;
  font-family: var(--font-poppins);
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $white;
  overflow-x: hidden;
}

/* ==========================================================================
   2. СТИЛИЗАЦИЯ ПОЛОСЫ ПРОКРУТКИ 
   ========================================================================== */
::-webkit-scrollbar {
  width: 5px;  
  height: 5px; 
}

::-webkit-scrollbar-track {
  background: rgba($bahama-blue, 0.06); 
  border-radius: 0px;
}

::-webkit-scrollbar-thumb {
  background-color: $blue-lagoon; 
  border-radius: 1px;
  border: 1px solid transparent; 
  background-clip: padding-box;
  
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $bahama-blue; 
  }
}

@supports (scrollbar-width: thin) {
  html {
    scrollbar-width: thin;
    scrollbar-color: $blue-lagoon rgba($bahama-blue, 0.06);
  }
}

/* ==========================================================================
   3. СТРУКТУРА ПРИЖИМКИ ФУТЕРА
   ========================================================================== */
.root-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;

  main {
    flex: 1 0 auto; 
    width: 100%;
  }
}

footer {
  flex-shrink: 0;
}

/* ==========================================================================
   4. СЕМАНТИЧЕСКИЕ СБРОСЫ ЭЛЕМЕHТОВ 
   ========================================================================== */
img,
svg {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}