@use "./variables" as *;
@use "./mixins" as *;

@import url("https://googleapis.com");

/* 2. Подключаем локальный  */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-text: "Manrope", sans-serif;
  --font-heading: "Montserrat", sans-serif;
  --font-poppins: "Poppins", sans-serif;
}

html {
  width: 100%;
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;

  scrollbar-width: thin;
  scrollbar-color: $blue-lagoon rgba($bahama-blue, 0.15);
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
  color: $black;
  font-family: var(--font-poppins);
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px; /* Чуть тоньше стандартного для более аккуратного вида */
  height: 8px; /* Для горизонтального скролла */
}

::-webkit-scrollbar-track {
  background: rgba(
    $bahama-blue,
    0.08
  ); /* Светлая подложка на основе вашего цвета */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: $blue-lagoon; /* Основной цвет ползунка */
  border-radius: 10px;
  border: 1px solid transparent; /* Легкий внутренний отступ */
  background-clip: padding-box;

  &:hover {
    background: $bahama-blue; /* Потемнение при наведении мыши */
  }
}

.root-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;

  main {
    min-height: 100vh;
    flex: 1 0 auto;
  }
}

img,
svg {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
  transition: opacity 0.2s ease;

  &:hover {
    opacity: 0.8;
  }
}

ul,
ol {
  list-style: none;
}

footer {
  flex-shrink: 0;
}
