// Цвета

$white: #ffffff;
$solitude: #E2E8F0;
$black: #000000;
$nero: #171717;
$pacific-blue: #00A8CC;
$bondi-blue: #0097b2;
$dark-cyan: #0d9488;
$bahama-blue: #136190;
$turquoise-blue: #62e5fb;
$smoky: #58576B;
$shuttle-grey: #556070;
$dim-gray: #666666;
$black-russian: #111827;
$yellow-green: #83CD29;
$persian-red: #d63170;
$whiteSmoke: #F5F5F5;

// Viewport

$vp-tablet: 1023px;
$vp-mobile: 767px;

// Transition
$transition-500: ease 0.5s;
$transition-800: ease 0.8s;
$transition-out: ease-out 0.8s;
