// Цвета

$white: #ffffff;
$nero: #171717;
$bondi-blue: #0097b2;
$dark-turquoise: #0cc0df;
$turquoise-blue: #62e5fb;
$tangaroa: #132238;
$shuttle-grey: #556070;
$dim-gray: #666666;
$pacific-blue: #00a0bc;
$black-russian: #111827;
$yellow-green: #83CD29;
$persian-red: #d63170;
$whiteSmoke: #F5F5F5;
$black: #000000;
// Viewport

$vp-tablet: 1023px;
$vp-mobile: 767px;

// Transition
$transition-500: ease 0.5s;
$transition-800: ease 0.8s;
$transition-out: ease-out 0.8s;
